* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}
#coubtLabel {
  display: block;
  text-align: center;
  font-size: 10rem;
  font-family: Helvetica, sans-serif;
}

.btnContainer {
  text-align: center;
}

.buttons {
  padding: 10px 20px;
  font-size: 1.5rem;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.9s ease;
  border-radius: 5px;
}

.buttons:hover {
  background-color: #0056b3;
}
